@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rebeccapurple;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
}